
.error-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000; 
  pointer-events: none; 
}


.error-content {
  pointer-events: auto;
  color: white;
  text-align: center;
}


